#grid-container{
    display: flex;
    margin-top: 5%;
    margin-left: 30%;
    flex-direction: row;
    float: center;
    width: 40vw;
}
div{
    padding: 15px;
    border: 2px solid black;
    grid-gap: 1px;
}
